---
---
<section>
    <div class="relative isolate overflow-hidden py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight dark:text-white sm:text-6xl">Las casas de Hogwarts</h2>
            <p class="mt-6 text-lg leading-8 dark:text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
          </div>
          <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 dark:text-white sm:grid-cols-2 md:flex lg:gap-x-10">
              <a href="#">Open roles <span aria-hidden="true">&rarr;</span></a>
              <a href="#">Internship program <span aria-hidden="true">&rarr;</span></a>
              <a href="#">Our values <span aria-hidden="true">&rarr;</span></a>
              <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a>
            </div>
            <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
              <div class="flex flex-col">
                <picture class="mx-auto">
                    <source srcset="Gryffindor_Pottermore.webp">
                    <img src="Gryffindor_Pottermore.webp" alt="Gryffindor">
                </picture>
                <dt class="text-center text-base leading-7 dark:text-gray-300">Gryffindor</dt>
                <dd class="text-center text-2xl font-bold leading-9 tracking-tight dark:text-white">Gryffindor</dd>
              </div>
              <div class="flex flex-col">
                <picture class="mx-auto">
                    <source srcset="Ravenclaw_Pottermore.webp">
                    <img src="Ravenclaw_Pottermore.webp" alt="Ravenclaw">
                </picture>
                <dt class="text-center text-base leading-7 dark:text-gray-300">Ravenclaw</dt>
                <dd class="text-center text-2xl font-bold leading-9 tracking-tight dark:text-white">Ravenclaw</dd>
              </div>
              <div class="flex flex-col">
                <picture class="mx-auto">
                    <source srcset="Hufflepuff_Pottermore.webp">
                    <img src="Hufflepuff_Pottermore.webp" alt="Hufflepuff">
                </picture>
                <dt class="text-center text-base leading-7 dark:text-gray-300">Ravenclaw</dt>
                <dd class="text-center text-2xl font-bold leading-9 tracking-tight dark:text-white">Hufflepuff</dd>
              </div>
              <div class="flex flex-col">
                <picture class="mx-auto">
                    <source srcset="Slytherin_Pottermore.webp">
                    <img src="Slytherin_Pottermore.webp" alt="Slytherin">
                </picture>
                <dt class="text-center text-base leading-7 dark:text-gray-300">Slytherin</dt>
                <dd class="text-center text-2xl font-bold leading-9 tracking-tight dark:text-white">Slytherin</dd>
              </div>
            </dl>
          </div>
        </div>
    </div>
</section>