---
import ListCharacters from './ListCharacters.astro'
const response = await fetch('https://hp-api.onrender.com/api/characters');
const data = await response.json();

let i = 0
let charArr = []
while (i < 4) {
  charArr = [...charArr, data[i]]
  i++
}
---
<div class="py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">Conoce a los personajes</h2>
        <p class="mt-6 mb-6 text-lg leading-8 text-gray-600 dark:text-white">Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae elementum enim vitae ullamcorper suspendisse.</p>
        <a href="#" class="rounded-md bg-yellow-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ver todos</a>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        {charArr.map((char) => <ListCharacters name={char.name} house={char.house} image={char.image} />)}
      </ul>
    </div>
</div>