---
---
<div class="flex flex-grow basis-0">
    <picture>
        <source srcset="hogwartscrest.webp" media="(min-width: 100px)">
        <img src="hogwartscrest.webp" alt="Hogwarts" width="50" height="50">
    </picture>
</div>
