---
---
<nav class="hidden xl:block sm:hidden">
    <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 dark:[&>li>a]:text-white">
        <li><a href="/">Inicio</a></li>
        <li><a href="/characters">Personajes</a></li>
    </ul>
</nav>
