---
import '../styles/global.css';
import Logo from '../components/Logo.astro'
import ThemeIcon from '../components/ThemeIcon.astro'
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo_hogwarts.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <header id="header" class="py-3 px-10 flex items-center top-0 w-full justify-between z-40 border-b-2 border-b-gray-300 dark:border-b-gray-700 dark:bg-gray-800">
			<div class="flex flex-grow basis-0">
				<Logo />
			</div>
            <nav class="hidden xl:block sm:hidden">
                <ul class="flex text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 dark:[&>li>a]:text-white">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </nav>
            <div class="flex">
                <ThemeIcon />
            </div>
		</header>
        <main class="py-3 px-10 dark:bg-gray-800">
            <h1 class="dark:text-white">{pageTitle}</h1>
            <slot />
        </main>
        <footer></footer>
	</body>
</html>
